.wrapper {

}

.ui-wrapper {
  padding: 30px;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
}

.input-component {
  margin: 0 20px;
}

.select span span {
  font-size: 20px !important;
}